<style>
    main p {
        padding: 32px;
        font-size: 20px;
        text-align: center;
    }
</style>
<main>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, itaque nostrum eos fugit asperiores a ea impedit vero praesentium?
        Quasi odit ipsa, accusantium, reiciendis debitis totam animi similique officiis ab quas et soluta? Dicta cupiditate
        quia quos. Vitae perspiciatis, aut nisi quam veniam animi accusantium iusto neque laborum, officia, molestiae nihil
        asperiores hic facilis debitis dolorem tempora dolores.
    </p>
</main>