<style>
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #000;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 6px;
    }

    main {
        text-align: center;
        color: #fff;
        --theme-clr: #f5d220;
        background-color: #000;

        height: 100%;
        padding: 28px;
        padding-top: 0;
    }

    main * {
        font-family: 'Smilage';
        text-align: left;
    }

    .banner {
        background: var(--theme-clr) url(img/grunge.png);
        height: calc(100vh - var(--nav-height) - var(--footer-height));
        border-radius: 0 0 8px 8px;
        margin-bottom: 28px;
        color: #000;
        text-align: left;
        position: relative;
    }

    .banner .b1 {
        width: 70%;
        position: absolute;
        bottom: 0;
    }

    .banner .b2 {
        width: 16%;
        position: absolute;
        top: calc(20px + var(--nav-height));
        right: 16px;
    }

    .banner .b3 {
        font-size: 40px;
        position: absolute;
        bottom: 16px;
        right: 32px;
    }

    .desc {
        background-color: #252525;
        border-radius: 8px;
        padding: 24px;

        display: flex;
        justify-content: space-evenly;
        align-items: initial;
    }

    .desc .card {
        width: 50%;
    }

    .desc .card.left {
        padding-right: 20px;
    }

    .desc .card.right {
        padding-left: 20px;
    }

    .desc .card h2 {
        font-weight: normal;
        color: var(--theme-clr);
        font-size: 36px;
    }

    .desc .card p,
    .desc .card ol li {
        font-family: 'Product Sans';
        font-size: 20px;
    }

    .desc .card ol {
        padding-left: 20px;
    }

    /* leaderboard */

    .leaderboard {
        padding: 24px;
    }

    .leaderboard h2 {
        font-weight: normal;
        color: var(--theme-clr);
        font-size: 36px;

        display: flex;
        align-items: center;
        padding-bottom: 16px;
    }

    .leaderboard h2 span {
        font-family: 'Product Sans';
        color: #000;
        background-color: var(--theme-clr);
        padding: 2px 8px;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 20px;
    }

    .leaderboard p {
        font-family: 'Product Sans';
        font-size: 20px;
    }

    /* challenges */

    .challenges {
        padding: 20px;
        padding-top: 48px;
    }

    .challenges h1 {
        text-align: center;
        font-size: 56px;
        letter-spacing: 4px;
    }

    .challenges .sec {
        height: 280px;
    }

    .challenges .sec h2 {
        color: var(--theme-clr);
        font-size: 36px;
        font-weight: normal;
        padding-bottom: 10px;
    }

    .challenges .sec .sect-w {
        overflow-x: auto;
        padding-bottom: 4px;
        display: flex;
    }

    .sect {
        background-color: var(--theme-clr);
        color: #000;
        border-radius: 6px;
        padding: 12px;
        min-width: 300px;
        width: fit-content;
        height: 176px;
        margin-right: 28px;
    }

    .sect.sect-active {
        cursor: pointer;
    }

    .sect p.head {
        font-size: 64px;
        letter-spacing: 2px;
    }

    .sec p.name {
        font-size: 24px;
        letter-spacing: 2px;
        padding-bottom: 16px;
    }

    /* faq */

    .faq * {
        font-family: "Product Sans";
    }

    .faq h1 {
        text-align: center;
        font-size: 56px;
        letter-spacing: 4px;
        font-family: "Smilage";
        margin-bottom: 56px;
    }

    .faq .collapsible-item>.body {
        border: none;
    }

    .faq .collapsible-item>.body .content {
        padding: 20px 32px;
    }

    .faq .collapsible-item .title .iconleft {
        float: right !important;
    }

    .faq .collapsible-item .title {
        padding: 12px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border: none;
        color: var(--theme-clr);
        font-size: 24px;
    }

    @media screen and (max-width:580px) {
        .banner {
            height: fit-content;
        }

        .banner .b1 {
            width: 98%;
            position: static;
            top: 40%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .banner .b2 {
            width: 148px;
            position: static;
            margin-top: calc(20px + var(--nav-height));
            margin-left: calc(50% - 74px);
        }

        .banner .b3 {
            font-size: 32px;
            position: static;
            padding: 20px 40px;
            text-align: center;
        }

        .desc {
            flex-direction: column;
        }

        .desc .card {
            width: 100%;
        }

        .desc .card.left {
            padding: 0;
            padding-bottom: 20px;
        }

        .desc .card.right {
            padding: 0;
            padding-top: 20px;
        }

        .leaderboard h2 span {
            font-size: 8px;
        }
    }
</style>
<main>
    <div class="chall-wrapper">
        <div class="banner">
            <img src="img/logo-bw.png" class="b2" alt="">
            <img src="img/logo-challenge.png" class="b1" alt="">
            <p class="b3">The Game None Heeds,
                But the
                world needs!</p>
        </div>
        <div class="desc">
            <div class="card left">
                <h2>ABOUT</h2>
                <p>
                    The main aim of this event series is to give exposure about the various competitions (Hackathons,
                    Ideathons and Competitive coding) at college, national and international levels and to build
                    confidence of the students to take up and WIN at these events!
                    <br>
                    <br>
                    What's more? LOADS of prizes for every challenge!
                    <br>
                    💸x3
                </p>
            </div>
            <div class="card right">
                <h2>HOW WILL IT WORK?</h2>
                <p>
                    There will be a new challenge each week. Every challenge will be unique but the rules will be the
                    same:
                    <br>
                    <br>
                    <ol>
                        <li>A fixed deadline (Cause everyone loves a race against time!🔥)</li>
                        <li>Prizes for the best</li>
                        <li>A practical and credible idea</li>
                        <li>A solid team of 2 - 4 members (you can be a lone wolf too)</li>
                        <li>Extra points for performing special tasks that will be unique for each challenge</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="leaderboard">
            <h2>The Leaderboard <span> COMING SOON </span></h2>
            <p>
                The Almighty Leaderboard remembers everything. The scores of all teams will be recorded and displayed
                here and the performances of every team will be tracked. There will be a grand prize for consistently
                top teams.
            </p>
        </div>
        <div class="challenges">
            <h1>Challenges</h1>
            <div class="ideathons sec">
                <h2>Ideathons</h2>
                <div class="sect-w">
                    <div class="sect sect-active" ng-click="modalView('mod-01')">
                        <p class="head">Id-<sup>#</sup>01</p>
                        <p class="name">The Season Begins</p>
                        <p class="date">Due - 15th January 2019</p>
                    </div>
                    <div class="sect">
                        <p class="head">Behold</p>
                        <p class="name">more coming soon</p>
                    </div>
                </div>
            </div>
            <div class="hackathons sec">
                <h2>Hackathons</h2>
                <div class="sect-w">
                    <div class="sect">
                        <p class="head">Behold</p>
                        <p class="name">more coming soon</p>
                    </div>
                </div>
            </div>
            <div class="codesprints sec">
                <h2>CodeSprints</h2>
                <div class="sect-w">
                    <div class="sect-w">
                        <div class="sect">
                            <p class="head">Behold</p>
                            <p class="name">more coming soon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq">
            <h1>FAQs</h1>
            <ang-accordion one-at-a-time="true" icon-position="left" close-icon-url="img/plus.svg" open-icon-url="img/clear.svg">
                <collapsible-item item-title=" {{qa.question}} " ng-repeat="qa in qna ">
                    <div class="answer">{{qa.answer}}</div>
                </collapsible-item>
            </ang-accordion>
        </div>
    </div>
</main>
<div id="mod-01" class="dialog-wrapper">
    <div class="dialog">
        <div class="dialog-content">

        </div>
        <div class="cross" ng-click="modalClose('mod-01')">
            &#9932;
        </div>
    </div>
</div>
<style>
    .dialog-wrapper {
        padding: 16px;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 15;
        display: flex;
        align-items: center;
        display: none;
    }

    .dialog-wrapper .dialog {
        margin: 0 auto;
        width: 60%;
        max-height: 100%;
        overflow-y: auto;
        height: fit-content;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
        padding: 12px;
    }

    .dialog-wrapper .cross {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
    }

    @media screen and (max-width:580px) {
        .dialog-wrapper .dialog {
            width: 100% !important;
            overflow-y: auto;
        }
    }
</style>