<style>
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #000;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 6px;
    }

    main {
        text-align: center;
        color: #fff;
        --theme-clr: #f5d220;
        --theme-clr-sub: #e9d56f;
        background-color: #000;

        height: 100%;
        padding: 28px;
        padding-top: 0;
    }

    main * {
        font-family: 'Smilage';
        text-align: left;
    }

    .banner {
        background: var(--theme-clr) url(img/grunge.png);
        height: calc(100vh - var(--nav-height) - var(--footer-height));
        border-radius: 0 0 8px 8px;
        margin-bottom: 28px;
        color: #000;
        text-align: left;
        position: relative;
    }

    .banner .b1 {
        width: 70%;
        position: absolute;
        bottom: 0;
    }

    .banner .b2 {
        width: 16%;
        position: absolute;
        top: calc(20px + var(--nav-height));
        right: 16px;
    }

    .banner .b3 {
        font-size: 40px;
        position: absolute;
        bottom: 16px;
        right: 32px;
    }

    .desc {
        background-color: #252525;
        border-radius: 8px;
        padding: 24px;

        display: flex;
        justify-content: space-evenly;
        align-items: initial;
    }

    .desc .card {
        width: 50%;
    }

    .desc .card.left {
        padding-right: 20px;
    }

    .desc .card.right {
        padding-left: 20px;
    }

    .desc .card h2 {
        font-weight: normal;
        color: var(--theme-clr);
        font-size: 36px;
    }

    .desc .card p,
    .desc .card ol li {
        font-family: 'Product Sans';
        font-size: 20px;
    }

    .desc .card ol {
        padding-left: 20px;
    }

    /* leaderboard */

    .leaderboard {
        padding: 24px;
    }

    .leaderboard h2 {
        font-weight: normal;
        color: var(--theme-clr);
        font-size: 36px;

        display: flex;
        align-items: center;
        padding-bottom: 16px;
    }

    .leaderboard h2 span {
        font-family: 'Product Sans';
        color: #000;
        background-color: var(--theme-clr);
        padding: 2px 8px;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 20px;
    }

    .leaderboard p {
        font-family: 'Product Sans';
        font-size: 20px;
    }

    /* challenges */

    .challenges {
        padding: 20px;
        padding-top: 48px;
    }

    .challenges h1 {
        text-align: center;
        font-size: 56px;
        letter-spacing: 4px;
    }

    .challenges .sec {
        height: 280px;
    }

    .challenges .sec h2 {
        color: var(--theme-clr);
        font-size: 36px;
        font-weight: normal;
        padding-bottom: 10px;
        letter-spacing: 2px;
    }

    .challenges .sec .sect-w {
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 4px;
        display: flex;
    }

    .sect {
        background-color: var(--theme-clr-sub);
        color: #000;
        border-radius: 6px;
        padding: 12px;
        min-width: 300px;
        width: fit-content;
        height: 176px;
        margin-right: 28px;
    }

    .sect.sect-active {
        cursor: pointer;
        background-color: var(--theme-clr);
    }

    .sect p.head {
        font-size: 64px;
        letter-spacing: 2px;
    }

    .sec p.name {
        font-size: 24px;
        letter-spacing: 2px;
        padding-bottom: 16px;
    }

    .sec p.date {
        font-size: 20px;
    }

    /* faq */

    .faq * {
        font-family: "Product Sans";
    }

    .faq h1 {
        text-align: center;
        font-size: 56px;
        letter-spacing: 4px;
        font-family: "Smilage";
        margin-bottom: 56px;
    }

    .faq .collapsible-item>.body {
        border: none;
    }

    .faq .collapsible-item>.body .content {
        padding: 20px 32px;
    }

    .faq .collapsible-item .title .iconleft {
        float: right !important;
    }

    .faq .collapsible-item .title {
        padding: 12px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border: none;
        color: var(--theme-clr);
        font-size: 24px;
    }

    @media screen and (max-width:580px) {
        .banner {
            height: fit-content;
        }

        .banner .b1 {
            width: 98%;
            position: static;
            top: 40%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .banner .b2 {
            width: 148px;
            position: static;
            margin-top: calc(20px + var(--nav-height));
            margin-left: calc(50% - 74px);
        }

        .banner .b3 {
            font-size: 32px;
            position: static;
            padding: 20px 40px;
            text-align: center;
        }

        .desc {
            flex-direction: column;
        }

        .desc .card {
            width: 100%;
        }

        .desc .card.left {
            padding: 0;
            padding-bottom: 20px;
        }

        .desc .card.right {
            padding: 0;
            padding-top: 20px;
        }

        .leaderboard h2 span {
            font-size: 10px;
            font-weight: bold;
        }
    }
</style>
<main>
    <div class="chall-wrapper">
        <div class="banner">
            <img src="img/favicon.png" class="b2" alt="">
            <img src="img/logo-challenge.png" class="b1" alt="">
            <p class="b3">The Game None Heeds,
                But the
                world needs!</p>
        </div>
        <div class="desc">
            <div class="card left">
                <h2>ABOUT</h2>
                <p>
                    The main aim of this event series is to give exposure about the various competitions (Hackathons,
                    Ideathons and Competitive coding) at college, national and international levels and to build
                    confidence of the students to take up and WIN at these events!
                    <br>
                    <br>
                    What's more? LOADS of prizes for every challenge!
                    <br>
                    💸💸💸
                </p>
            </div>
            <div class="card right">
                <h2>HOW WILL IT WORK?</h2>
                <p>
                    There will be a new challenge each week. Every challenge will be unique but the rules will be the
                    same:
                    <br>
                    <br>
                    <ol>
                        <li>A fixed deadline (Cause everyone loves a race against time!🔥)</li>
                        <li>Prizes for the best</li>
                        <li>A practical and credible idea</li>
                        <li>A solid team of 2 - 4 members (you can be a lone wolf too)</li>
                        <li>Extra points for performing special tasks that will be unique for each challenge</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="leaderboard">
            <h2>The Leaderboard <span> COMING SOON </span></h2>
            <p>
                The Almighty Leaderboard remembers everything. The scores of all teams will be recorded and displayed
                here and the performances of every team will be tracked. There will be a grand prize for consistently
                top teams.
            </p>
        </div>
        <div class="challenges">
            <h1>Challenges</h1>
            <div class="ideathons sec">
                <h2>Ideathons <span>[Id-<sup>#</sup>]</span></h2>
                <div class="sect-w">
                    <div class="sect sect-active" ng-click="modalView('id-01')">
                        <p class="head">Id-<sup>#</sup>01</p>
                        <p class="name">The Season Begins</p>
                        <p class="date">Due - 12th January 2019</p>
                    </div>
                    <div class="sect sect-active" ng-click="modalView('id-02')">
                        <p class="head">Id-<sup>#</sup>02</p>
                        <p class="name">Mischief Managed?</p>
                        <p class="date">Due - 4th February 2019</p>
                    </div>
                    <div class="sect">
                        <p class="head">Behold</p>
                        <p class="name">more coming soon</p>
                    </div>
                </div>
            </div>
            <div class="hackathons sec">
                <h2>Hackathons <span>[Hk-<sup>#</sup>]</span></h2>
                <div class="sect-w">
                    <div class="sect">
                        <p class="head">Behold</p>
                        <p class="name">more coming soon</p>
                    </div>
                </div>
            </div>
            <div class="codesprints sec">
                <h2>CodeSprints <span>[Cs-<sup>#</sup>]</span></h2>
                <div class="sect-w">
                    <div class="sect-w">
                        <div class="sect sect-active" ng-click="modalView('cs-01')">
                            <p class="head">Cs<sup>#</sup>01</p>
                            <p class="name">The Phantom Null Pointer</p>
                            <p class="date">26th January 2019</p>
                        </div>
                        <div class="sect sect-active" ng-click="modalView('cs-02')">
                            <p class="head">Cs<sup>#</sup>02</p>
                            <p class="name">Attack of the Memory Leaks</p>
                            <p class="date">2nd February 2019</p>
                        </div>
                        <div class="sect">
                            <p class="head">Behold</p>
                            <p class="name">more coming soon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq">
            <h1>FAQs</h1>
            <ang-accordion one-at-a-time="true" icon-position="right" close-icon-url="img/plus.svg" open-icon-url="img/clear.svg">
                <collapsible-item item-title="What exactly is Challenge Series?">
                    <div class="answer">
                        It's an online intra college event. There are 3 genres: <br>
                        <br>
                        Ideathon - <br>
                        You need to give a presentation solution for one of the problem statements. Do market research
                        and give a business model. <br>
                        Hackathon - <br>
                        In this, you need to build a minimum viable product (app/hardware/anything else) for the
                        problem statement. <br>
                        CodeSprint- <br>
                        This will be a competitive programming challenge. <br>
                        <br>
                        There will be multiple challenges throughout the semester. <br>
                    </div>
                </collapsible-item>
                <collapsible-item item-title=" {{qa.question}} " ng-repeat="qa in qna ">
                    <div class="answer">{{qa.answer}}</div>
                </collapsible-item>
            </ang-accordion>
        </div>
    </div>
</main>
<div id="id-01" class="dialog-wrapper">
    <div class="dialog">
        <div class="dialog-content">
            <div class="smilage">
                <h1 class="head">Id<sup>#</sup>01</h1>
                <h1 class="name">"The Season begins"</h1>
                <h2>The first ever challenge in the series is designed keeping in mind the beginners. The challenge is
                    simple and easy to implement. </h2>
                <br>
                <h1>PRIZE POOL - &#8377;2019</h1>
                <br>
            </div>
            <div>
                <h3>Themes:</h3>
                <p>
                    The themes are decided by the problem statements, so currently there are 3 themes -
                    <ul>
                        <li>College Life</li>
                        <li>Environment</li>
                        <li>Daily Life</li>
                    </ul>
                </p>
                <h3>What the participants have to do:</h3>
                <p>
                    Each team must create a presentation of max 8 slides, consisting of the problem, the pre-existing
                    solution faults etc. and your solution.
                </p>
                <p>
                    These are the themes according to which you can find the current problems and come up with a
                    solution.
                    In case you aren't able to think of any, you can find a solution for one of the problem statements
                    given below:
                </p>
                <p>
                    <ol>
                        <li>
                            Design a solution to monitor solar panels over a large area with central control and
                            monitoring
                            platform.
                        </li>
                        <li>
                            Build a service to help students do mock interviews (like interviewing.io). Keep in mind
                            the
                            technical design; incentive for students; incentive for interviewers etc.
                        </li>
                        <li>
                            Design a platform to manage multiple social media accounts(like Hootsuite). Keep in mind
                            the
                            technical design; subscriptions; monetizations etc.
                        </li>
                        <li>
                            Suggest a solution to reduce traffic congestion or increase parking efficiency.
                        </li>
                        <li>
                            Delhi is one of the most polluted cities. Suggest a solution to reduce pollution.
                        </li>
                        <li>
                            Suggest a solution to tackle the problems associated with mass bunks and missing classes in
                            general.
                        </li>
                        <li>
                            Many a time your friends drop a reference while talking and you don't know what it means,
                            making you feel left out of the conversation. Suggest a solution to tackle this problem.
                        </li>
                    </ol>
                </p>
                <h3>SUBMISSION PROCESS</h3>
                <p>
                    The team must register itself via Google forms and submit the presentation in the same. Thus, each
                    registered team will have submitted their presentations and there won’t be any team with a score of
                    0
                    (unless they do something too radical in their presentations ) <br>
                    <br>
                    Link : <a target="_blank" href="https://goo.gl/forms/1nR2ayXiNbnUpIOv2">https://goo.gl/forms/1nR2ayXiNbnUpIOv2</a>
                    <br>
                    <br>
                    <em>Early submissions fetch brownie🍪 points.</em> <br>
                    <em>Multiple submissions are not allowed! ❌</em> <br>
                </p>
                <h3>SELECTION PROCESS</h3>
                <p>
                    PHASE I:
                    <br>
                    The students will form a team among themselves and create a presentation on the problem within 5
                    days.
                    <br>
                    The presentation will be submitted via Google forms. <br>
                    The judges will start evaluating the presentations as soon as they receive them. To reduce the
                    burden
                    on the judging team, we’ll allow early submissions. <br>
                    After the deadlines, the judges will be given two days extra to wrap up and update the
                    leaderboards.
                    <br>
                    The top 10 teams will then proceed to the next round. <br>
                </p>
                <p>
                    PHASE II: <br>
                    The teams that passed phase I will undergo QnA round where they will be asked to pitch their idea
                    and
                    will undergo questioning on many perspectives such as business models, market strategy, any
                    weaknesses
                    etc. <br>
                    The top 10 will be declared winners and given prizes. <br>
                </p>
                <h3>SELECTION CRITERIA</h3>
                <p>
                    Each submission will be evaluated based on the following criteria… <br>
                    Originality <br>
                    Problem Analysis <br>
                    Practicality <br>
                    <br>
                    The top 10 teams will be declared the winners (more if some tie-in) <br>
                    <br>
                    These teams will then undergo a QnA round and the top 2 will be decided from amongst them(more if
                    tied)
                    and declared winners, with the selection dependent upon the completeness of their solution and
                    market
                    strategy. <br>
                    <br>
                    Remember, you can keep developing your solution even after the first submission...there's always
                    something to improve. <br>
                </p>
            </div>
        </div>
        <div class="cross" ng-click="modalClose('id-01')">
            &#9932;
        </div>
    </div>
</div>
<div id="id-02" class="dialog-wrapper">
    <div class="dialog">
        <div class="dialog-content">
            <div class="smilage">
                <h1 class="head">Id<sup>#</sup>02</h1>
                <h1 class="name">"Mischief Managed?"</h1>
                <h2>The second in the series raises the stakes. Solve the themes and rule the leaderboard.</h2>
                <br>
                <h1>PRIZE POOL - &#8377;2000</h1>
                <br>
            </div>
            <div>
                <h3>Themes</h3>
                <p>
                    <ol>
                        <li>College Life</li>
                        <li>Resource Management</li>
                        <li>Disaster Management</li>
                        <li>Team Management</li>
                        <li>Social Inclusion</li>
                    </ol>
                </p>
                <h3>Contest Details</h3>
                <p>
                    <ul>
                        <li>Start Date: 31st January 2019</li>
                        <li>Round 1 Ending Time: 4th Feb - 11:59PM</li>
                        <li>Round 2 Estimated Date: 6th Feb</li>
                    </ul>
                </p>
                <h3>Prizes</h3>
                <p>
                    1st : &#8377;1200
                    <br>
                    2nd : &#8377;800
                </p>
                <h3>What the participants have to do:</h3>
                <p>
                    Each team must create a presentation of max 8 slides, consisting of the problem, the pre-existing
                    solution faults etc. and your solution.
                </p>
                <h3>SUBMISSION PROCESS</h3>
                <p>
                    The team must register itself via Google forms and submit the presentation in the same. Thus, each
                    registered team will have submitted their presentations and there won’t be any team with a score of
                    0 (unless they do something too radical in their presentations ) <br>
                    <br>
                    Link : <a target="_blank" href="https://goo.gl/forms/XtyNpNrVk51aJ5FI3">https://goo.gl/forms/XtyNpNrVk51aJ5FI3</a>
                    <br>
                    <br>
                    <em>Submission of a Lean Canvas fetch brownie🍪 points.</em> <br>
                    <em>Multiple submissions are not allowed! ❌</em> <br>
                </p>
                <h3>SELECTION PROCESS</h3>
                <p>
                    PHASE I:
                    <br>
                    The students will form a team among themselves and create a presentation on the problem within 5
                    days.
                    <br>
                    The presentation will be submitted via Google forms. <br>
                    The judges will start evaluating the presentations as soon as they receive them. To reduce the
                    burden
                    on the judging team, we’ll allow early submissions. <br>
                    After the deadlines, the judges will be given two days extra to wrap up and update the
                    leaderboards.
                    <br>
                    The top 10 teams will then proceed to the next round. <br>
                </p>
                <p>
                    PHASE II: <br>
                    The teams that passed phase I will undergo QnA round where they will be asked to pitch their idea
                    and
                    will undergo questioning on many perspectives such as business models, market strategy, any
                    weaknesses
                    etc. <br>
                    The top 10 will be declared winners and given prizes. <br>
                </p>
                <h3>SELECTION CRITERIA</h3>
                <p>
                    Each submission will be evaluated based on the following criteria - <br>
                    <br>
                    For Round 1: <br>
                    Originality <br>
                    Problem Analysis <br>
                    Practicality <br>
                    <br>
                    The top 10 teams will be declared the winners (more if some tie-in) <br>
                    <br>
                    <br>
                    For Round 2 <br>
                    Will be released on 3rd February, 2019 along with Round 1 results. <br>
                    The top 2 will be decided from amongst them(more if
                    tied)
                    and declared winners, with the selection dependent upon the completeness of their solution and
                    market
                    strategy. <br>
                    <br>
                    We also have exciting <strong>special category prizes</strong> for this submission round
                    <br>
                    <br>
                    Remember, you can keep developing your solution even after the first submission...there's always
                    something to improve. <br>
                </p>
            </div>
        </div>
    </div>
    <div class="cross" ng-click="modalClose('id-02')">
        &#9932;
    </div>
</div>
<div id="cs-01" class="dialog-wrapper">
    <div class="dialog">
        <div class="dialog-content">
            <div class="smilage">
                <h1 class="head">Cs<sup>#</sup>01</h1>
                <h1 class="name">"The Phantom Null Pointer"</h1>
                <h2>This is the first ever challenge in the codesprint series.</h2>
                <br>
                <h1>PRIZE POOL - &#8377;2000</h1>
                <br>
            </div>
            <div>
                <h3>Contest Details</h3>
                <p>
                    <ul>
                        <li>Duration: 3hrs</li>
                        <li>Start Time: 9pm</li>
                        <li>End Time: 12pm</li>
                        <li>Date: 26th January 2019 (Saturday)</li>
                    </ul>
                </p>
                <h3>Rules</h3>
                <p>
                    <ul>
                        <li>
                            One individual can register only once.
                        </li>
                        <li>
                            It’s a contest for an individuals.
                        </li>
                        <li>
                            Please refrain from discussing strategy during the contest.
                        </li>
                        <li>
                            All submissions are run through a plagiarism detector. Any case of code plagiarism will
                            disqualify both users from the contest.
                        </li>
                        <li>
                            You can code in any of the available languages in the HackerRank editor.
                        </li>
                        <li>
                            Prizes for top rankers.
                        </li>
                    </ul>
                </p>
                <h3>Judging Criteria</h3>
                <p>
                    <ul>
                        <li>
                            All the problems have same points allotted to them.
                        </li>
                        <li>
                            Contestants are ranked according to the most problems solved. Ties will be broken by the
                            total
                            time for each user in ascending order of time.
                        </li>
                        <li>
                            The decision of the organizers in declaring the results will be final. No queries in this
                            regard
                            will be entertained.
                        </li>
                        <li>
                            Any participant found to be indulging in any form of malpractice will be immediately
                            disqualified
                        </li>
                    </ul>
                </p>
                <h3>Registration Link</h3>
                <p>
                    <a target="_blank" href="https://goo.gl/forms/vSUV2lFi0DnPSmeH3">https://goo.gl/forms/vSUV2lFi0DnPSmeH3</a>
                </p>
                <h3>Contact Details</h3>
                <p>
                    <ol>
                        <li>
                            Mridul: <a href="tel:8512003434">8512003434</a>
                        </li>
                        <li>
                            Chirag: <a href="tel:9582501754">9582501754</a>
                        </li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="cross" ng-click="modalClose('cs-01')">
        &#9932;
    </div>
</div>
<div id="cs-02" class="dialog-wrapper">
    <div class="dialog">
        <div class="dialog-content">
            <div class="smilage">
                <h1 class="head">Cs<sup>#</sup>02</h1>
                <h1 class="name">"Attack of the memory Leaks"</h1>
                <h2>This is the second episode/challenge in the codesprint series.</h2>
                <br>
                <h1>PRIZE POOL - &#8377;2000</h1>
                <br>
            </div>
            <div>
                <h3>Contest Details</h3>
                <p>
                    <ul>
                        <li>Duration: 3hrs</li>
                        <li>Start Time: 9:00pm</li>
                        <li>End Time: 11:59pm</li>
                        <li>Date: 2nd February 2019 (Saturday)</li>
                    </ul>
                </p>
                <h3>Rules</h3>
                <p>
                    <ul>
                        <li>
                            One individual can register only once.
                        </li>
                        <li>
                            It’s a contest for an individuals.
                        </li>
                        <li>
                            Please refrain from discussing strategy during the contest.
                        </li>
                        <li>
                            All submissions are run through a plagiarism detector. Any case of code plagiarism will
                            disqualify both users from the contest.
                        </li>
                        <li>
                            You can code in any of the available languages in the HackerRank editor.
                        </li>
                        <li>
                            Prizes for top rankers.
                        </li>
                    </ul>
                </p>
                <h3>Judging Criteria</h3>
                <p>
                    <ul>
                        <li>
                            All the problems have same points allotted to them.
                        </li>
                        <li>
                            Contestants are ranked according to the most problems solved. Ties will be broken by the
                            total
                            time for each user in ascending order of time.
                        </li>
                        <li>
                            The decision of the organizers in declaring the results will be final. No queries in this
                            regard
                            will be entertained.
                        </li>
                        <li>
                            Any participant found to be indulging in any form of malpractice will be immediately
                            disqualified
                        </li>
                    </ul>
                </p>
                <h3>Registration Link</h3>
                <p>
                    <a target="_blank" href="https://goo.gl/forms/f4LSlleqU2isC1ei1">https://goo.gl/forms/f4LSlleqU2isC1ei1</a>
                </p>
                <h3>Contact Details</h3>
                <p>
                    <ol>
                        <li>
                            Mridul: <a href="tel:8512003434">8512003434</a>
                        </li>
                        <li>
                            Chirag: <a href="tel:9582501754">9582501754</a>
                        </li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="cross" ng-click="modalClose('cs-02')">
        &#9932;
    </div>
</div>

<style>
    .dialog-content h1.head {
        font-weight: normal;
        font-size: 72px;
    }

    .dialog-content h2,
    .dialog-content h1 {
        font-weight: normal;
    }

    .dialog-content h3 {
        padding-bottom: 12px;
        padding-top: 12px;
    }

    .dialog-content p {
        padding-bottom: 8px;
    }

    .dialog-content ul,
    .dialog-content ol {
        padding-left: 20px;
    }
</style>
<style>
    .smilage * {
        font-family: "Smilage";
    }

    .dialog-wrapper {
        padding: 16px;
        padding-top: 44px;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 15;
        display: flex;
        align-items: center;
        display: none;
    }

    .dialog-wrapper .dialog {
        margin: 0 auto;
        width: 60%;
        max-height: 100%;
        overflow-y: auto;
        height: fit-content;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
        padding: 12px;
    }

    .dialog-wrapper .cross {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
    }

    @media screen and (max-width:580px) {
        .dialog-wrapper .dialog {
            width: 100% !important;
        }
    }
</style>