<style>
    main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .subteam {
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 12px;
        width: 50%;
        transition: 0.4s;
    }

    .subteam:hover {
        transform: scale(1.08);
    }

    .subteam h2 {
        font-size: 32px;
        text-align: center;
        padding-bottom: 16px;
        color: #f53131;
    }

    .subteam ol {
        padding-left: 18px;
        font-size: 20px;
    }

    .subteam ol li {
        margin: 4px 0;
    }

    .subteam ol li.head {
        font-weight: bold;
    }

    @media screen and (max-width: 580px) {
        .subteam h2 {
            font-size: 24px;
        }

        .subteam ol {
            font-size: 16px;
        }
    }
</style>
<main>
    <div class="subteam">
        <h2>Organisers</h2>
        <ol>
            <li class="head">Kautuk Kundan</li>
            <li class="head">Bhavya Takkar</li>
        </ol>
    </div>
    <div class="subteam">
        <h2>Event Management</h2>
        <ol>
            <li class="head">Shivam Mittal</li>
            <li>Sudhanshu Goel</li>
            <li>Nakul Tyagi </li>
            <li>Aditya Ramachandran</li>
            <li>Chetan Verma</li>
            <li>G. Shivani </li>
        </ol>
    </div>
    <div class="subteam">
        <h2>Public Relations</h2>
        <ol>
            <li class="head">Akul Hallan</li>
            <li>Vansh Kapoor</li>
            <li>Harshita Diddee</li>
            <li>Satish Kumar</li>
        </ol>
    </div>
    <div class="subteam">
        <h2>RNIS</h2>
        <ol>
            <li class="head">Saksham Madan</li>
            <li>Chetan Madan</li>
            <li>Divyanshu Sharma</li>
            <li>Vinayakk Garg</li>
            <li>Aayushi Jain</li>
            <li>Chirag Gandhi</li>
            <li>Amit Kumar</li>
            <li>T. Pranay</li>
            <li>Bhanupratap Singh</li>
            <li>Madhav Khosla</li>
            <li>Hardik khurana</li>
        </ol>
    </div>
    <div class="subteam">
        <h2>Creativity and Design</h2>
        <ol>
            <li class="head">Muskan Jain</li>
            <li class="head">Anjali Khandelwal</li>
            <li>Shivam Grover</li>
        </ol>
    </div>
    <div class="subteam">
        <h2>Documentation</h2>
        <ol>
            <li class="head">Nidhi Jha</li>
            <li>Aashita Arora</li>
        </ol>
    </div>
    <div class="subteam">
        <h2>Technical</h2>
        <ol>
            <li class="head">Bipin Lala</li>
            <li class="head">Isha Aggarwal</li>
            <li>Aarush Ahuja </li>
            <li>Rishabh Malik</li>
            <li>Rajat Garg</li>
            <li>Kunal Raghav</li>
            <li>Mridul Khurana</li>
            <li>Abhay Kaushik</li>
            <li>Divyansh Aggarwal</li>
            <li>Arpit Shotriya</li>
        </ol>
    </div>
    <div class="subteam">
        <h2>Web</h2>
        <ol>
            <li class="head">Parul Aggarwal</li>
            <li class="head">Gaurav Jain</li>
            <li>Aaditya Varshney</li>
            <li>Divyanshu Gairola</li>
            <li>Gyantosh Kumar</li>
            <li>Gunnika Batra</li>
            <li>Nikunj Dhingra</li>
            <li>Harman Singh</li>
        </ol>
    </div>
    <div class="subteam">
        <h2>Photography</h2>
        <ol>
            <li class="head">Vishal Dubey</li>
            <li>Jayant Kalra</li>
        </ol>
    </div>
</main>